.wrap {
  max-width: 1920px;
  margin: auto;
  padding-top: 160px;
}
.container {
  max-width: 1296px;
  margin: auto;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Castoro Titling", serif;
  line-height: 1.5;
}
img {
  vertical-align: top;
}

.header h1 {
  font-size: 128px;
}
.header .pic {
  max-width: 636px;
  margin: auto;
}
.header .pic img {
  width: 100%;
}
.header h2 {
  font-size: 128px;
  width: 50%;
  margin-left: auto;
}

.introduce {
  background-color: #eee;
  padding: 48px 0;
  margin-bottom: 80px;
}
.introduce p {
  font-size: 32px;
  width: 50%;
  margin-left: auto;
}
.main-content {
  font-size: 24px;
  width: 50%;
}
.main-content .detail + .detail {
  margin-top: 40px;
}
.main-content .detail h3 {
  font-size: 40px;
  border-bottom: 3px solid #ae0000;
  margin-bottom: 16px;
}
.main-content .detail span {
  display: block;
  font-style: italic;
  color: #949494;
}
.main-content .detail p + p {
  margin-top: 16px;
}
.main-content .container .detail:first-child p + p {
  margin-top: 8px;
}
.main-content .container .detail:last-child p + p {
  margin-top: 12px;
}

.social {
  background-color: #000;
  padding: 64px 0;
  text-align: center;
  margin-top: 160px;
}
.social a + a {
  margin-left: 40px;
}
.social a:hover {
  filter: brightness(0.5);
}
